#drum-machine {
    background-color: rgb(153, 153, 153);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* height: 530px; */
}
#pad-bank {
    background-color: rgb(45, 49, 47);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
}
#pad-container {
    /* background-color: rgb(69, 189, 216); */
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    gap: 10px;
}
#pad-container button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    /* background-color: ; */
    transition: transform 0.25s ease;
}
#pad-container button:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
#display {
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
}